<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @city.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @city.status %>
</p>

<p>
  <strong>Image:</strong><br>
  <%= image_tag @city.image.url(:small) %>
</p>



<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
