<%= form_for(recipe) do |f| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br><br>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, required: true %>
  </div>

  <div class="field">
    <%= f.label :city %><br>
    <%= f.select(:city) do %>
      <% City.all.each do |city| -%>
        <%= content_tag(:option, city.name, value: city.id) %>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, required: true %>
  </div>

  <div class="field">
    <%= f.label :ingredients %><br>
    <%= f.text_area :ingredients, required: true %>
  </div>

  <div class="field">
    <%= f.label :recipe %><br>
    <%= f.text_area :recipe, required: true %>
  </div>

  <div class="field">
    <%= f.label :prepare %><br>
    <%= f.number_field :prepare, required: true %>
  </div>

  <div class="field">
    <%= f.label :cook %><br>
    <%= f.number_field :cook, required: true %>
  </div>

  <div class="field">
    <%= f.label :smcd %><br>
    <%= f.text_field :smcd, required: true %>
  </div>

  <div class="field">
    <%= f.label :difficulty %><br>
    <%= f.number_field :difficulty, required: true %>
  </div>

  <div class="field">
    <%= f.label :season %><br>
    <%= f.text_field :season, required: true %>
  </div>

  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status, required: true %>
  </div>

  <div class="field">
    <%= f.file_field :image %>
    <%= f.text_field :image %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
