<%= form_for(recipe) do |f| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br><br>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, required: true %>
  </div>

  <div class="field">
    <%= f.label :city %><br>
    <%= f.select(:city) do %>
      <% City.all.each do |city| -%>
        <%= content_tag(:option, city.name, value: city.id) %>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <p><em>Format : </em>encadrer les paragraphes par &#60;p&#62;&#60;/p&#62;</p><br>
    <%= f.text_area :description, required: true %>
  </div>

  <div class="field">
    <%= f.label :ingredients %><br>
    <p><em>Format : </em>encadrer les paragraphes par &#60;li&#62;&#60;/li&#62;</p><br>
    <%= f.text_area :ingredients, required: true %>
  </div>

  <div class="field">
    <%= f.label :recipe %><br>
    <p><em>Format : </em>encadrer les paragraphes par &#60;p&#62;&#60;/p&#62;</p><br>
    <%= f.text_area :recipe, required: true %>
  </div>

  <div class="field">
    <%= f.label :prepare %><br>
    <p><b>Format : </b>en minutes</p><br>
    <%= f.number_field :prepare, required: true %>
  </div>

  <div class="field">
    <%= f.label :cook %><br>
    <p><b>Format : </b>en minutes</p><br>
    <%= f.number_field :cook, required: true %>
  </div>

  <div class="field">
    <%= f.label :smcd %><br>
    <%= f.select(:smcd) do %>
      <% [['Entrée', 'starter'], ['Plat', 'mainCourse'], ['Dessert', 'dessert']].each do |c, d| -%>
        <%= content_tag(:option, c, value: d) %>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :difficulty %><br>
    <%= f.select(:difficulty) do %>
      <% [['Facile', 1], ['Moyen', 2], ['Difficile', 3]].each do |c, d| -%>
        <%= content_tag(:option, c, value: d) %>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :season %><br>
    <%= f.select(:season) do %>
      <% [['Été', 'summer'], ['Automne', 'automn'], ['Hiver', 'winter'], ['Printemps', 'spring']].each do |c, d| -%>
        <%= content_tag(:option, c, value: d) %>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :status %><br>
    <p>Rien ne marche SAUF mis-en-avant</p>
    <%= f.select(:status) do %>
      <% [['Brouillon', 0], ['Publié', 1], ['Mis en avant', 2], ['Supprimé', 3]].each do |c, d| -%>
        <%= content_tag(:option, c, value: d) %>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
