<section id="recipe">
  <h1><%= @recipe.name %></h1>
  <a href="#" class="arrow left"></a>
  <div class="container">
    <%= image_tag @recipe.image.url(:medium), :class => "logo__img column-center", :alt => @recipe.name %>
    <div class="right">
      <h2>Ingrédients</h2>
      <ul>
        <%= raw @recipe.ingredients %>
      </ul>
      <hr>
      <h2>Recette</h2>
      <%= raw @recipe.recipe %>
    </div>
  </div>
  <a href="#" class="arrow right"></a>
</section>

<!-- <p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @recipe.image.url(:small) %>
</p>

<p>
  <strong>City:</strong>
  <%= @recipe.city %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @recipe.recipe %>
</p>

<p>
  <strong>Ingredients:</strong>
</p>

<p>
  <strong>Prepare:</strong>
  <%= @recipe.prepare %>
</p>

<p>
  <strong>Cook:</strong>
  <%= @recipe.cook %>
</p>

<p>
  <strong>Smcd:</strong>
  <%= @recipe.smcd %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @recipe.difficulty %>
</p>

<p>
  <strong>Season:</strong>
  <%= @recipe.season %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %> -->
