<section id="index">
  <div class="head">
    <h1>Découvrez<br>les meilleurs plats<br>traditionnels Bordelais</h1>
  </div>
  </div>
  <div class="search">
    <%= simple_form_for :search, html: {class: "search-bar__mob"}, url: cities_search_path do |f| %>
      <%= f.input :city, placeholder: "Bordeaux", label: false %>
      <%= f.submit '', :style => "display:none;" %>
    <% end %>

    <%= simple_form_for :search, html: {class: "search-bar"}, url: cities_search_path do |f| %>

      <div class="field for-type">
        <%= f.input :smcd, label: "Type", collection: {'Tout' => 'all','Entrée' => 'starter','Plat' => 'mainCourse','Dessert' => 'dessert'}, html: {id: "type", name: "type"}, selected: "Tout", required: false %>
      </div>

      <div class="field for-type">
        <%= f.input :difficulty, label: "Difficulté", collection: {'Tout' => 'all','Facile' => 1,'Moyen' => 2,'Difficile' => 3}, html: {id: "difficulty", name: "difficulty"}, selected: "Tout", required: false %>
      </div>

      <div class="field for-type">
        <%= f.input :season, label: "Saison", collection: {'Tout' => 'all','Ete' => 'summer','Automne' => 'automn','Printemps' => 'sping', 'Hiver' => 'winter'}, html: {id: "season", name: "season"}, selected: "Tout", required: false %>
      </div>

      <%= f.submit 'Rechercher', class: "button" %>

    <% end %>
  </div>
  <div class="concept">
    <h3><em>Le concept</em></h3>
    <div class="container">
      <div class="paragraph">
        <p>While your neighbors are putting up their Halloween decorations and scouring supermarkets for bargain candy, it’s the perfect time for you to deep fry a turkey. If you’ve been thinking about deep frying a turkey for Thanksgiving but want to try it first, then October is the perfect time.</p>
        <p>While your neighbors are putting up their Halloween decorations and scouring supermarkets for bargain candy, it’s the perfect time for you to deep fry a turkey.</p>
        <p>While your neighbors are putting up their Halloween decorations and scouring supermarkets for bargain candy, it’s the perfect time for you to deep fry a turkey. If you’ve been thinking about deep frying a turkey for Thanksgiving but want to try it first, then October is the perfect time. for you to gain some valuable experience but still far enough away that your family won’t get tired of turkey sandwiches.</p>
      </div>
    </div>
  </div>
  <div class="cases top-recipes">
    <h3><em>Les tendances</em></h3>
    <div class="container">
			<% Recipe.where(status:2).limit(3).each do |recipe| %>
				<%= link_to recipe do %>
					<div class="bloc" style="background-image:url(<%= recipe.image.url(:big) %>)">
						<div class="on-hover">
              <div class="infos">
                <ul>
    							<strong><li><%= recipe.name %></li></strong>
    						</ul>
              </div>
						</div>
					</div>
				<% end %>
			<% end %>
    </div>
  </div>
  <div class="cases random-recipes">
    <h3><em>Les recettes à l'affiche</em></h3>
    <div class="container">
			<% Recipe.limit(12).each do |recipe| %>
				<%= link_to recipe do %>
					<div class="bloc" style="background-image:url(<%= recipe.image.url(:small) %>)">
						<div class="on-hover">
              <span><em><%= recipe.name %></em></span>
						</div>
					</div>
				<% end %>
			<% end %>
      <!-- REMOVE ME -->
      <% Recipe.limit(12).each do |recipe| %>
        <%= link_to recipe do %>
          <div class="bloc" style="background-image:url(<%= recipe.image.url(:small) %>)">
            <div class="on-hover">
              <span><em><%= recipe.name %></em></span>
            </div>
          </div>
        <% end %>
      <% end %>
      <!-- END OF REMOVE ME -->
    </div>
  </div>
</section>
