<p id="notice"><%= notice %></p>
<br>
<!-- <% puts @currentURL %> -->
<%= simple_form_for :search, method: :get do |f| %>
  <%= f.input :smcd, label: "Type", collection: {'Tout' => 'all','Entrée' => 'starter','Plat' => 'mainCourse','Dessert' => 'dessert'}, html: {id: "type"}, input_html: {name: "smcd"}, selected: @search[:smcd], required: false %>
  <%= f.input :difficulty, label: "Difficulté", collection: {'Tout' => 'all','Facile' => 1,'Moyen' => 2,'Difficile' => 3}, html: {id: "difficulty"}, input_html: {name: "difficulty"}, selected: @search[:difficulty], required: false %>
  <%= f.input :season, label: "Saison", collection: {'Tout' => 'all','Ete' => 'summer','Automne' => 'automn','Printemps' => 'sping', 'Hiver' => 'winter'}, html: {id: "season"}, input_html: {name: "season"}, selected: @search[:season], required: false %>
  <%= f.submit 'Trier' %>
<% end %>
<br>
<a href="https://twitter.com/intent/tweet?text=J'adore%20cette%20recette%20!&url=<%= @currentURL %>&via=tradfood" target="_blank">Twitter !</a>
<!-- FACEBOOK : This is for local dev (remove it onprod) -->
<a href="https://www.facebook.com/dialog/share?
app_id=145634995501895
&display=page
&href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2F&redirect_uri=https%3A%2F%2Fdevelopers.facebook.com%2Ftools%2Fexplorer" target="_blank">Facebook !</a>
<!-- FACEBOOK : This is for production -->
<!-- <a href="https://www.facebook.com/dialog/share?app_id=217102868749055&quote=J'adore%20cette%20recette%20!&display=page&hashtag=tradfood,gastronomie,traditionnel&href=<%= @currentURL %>&redirect_uri=https://tradfood.fr" target="_blank">Facebook !</a> -->
<br>
<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @city.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @city.status %>
</p>

<p>
  <strong>Image:</strong><br>
  <%= image_tag @city.image.url(:small) %>
</p>

<br>
<br>
<br>
<br>
<br>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>City</th>
      <th>Description</th>
      <th>Ingredients</th>
      <th>Recipe</th>
      <th>Prepare</th>
      <th>Cook</th>
      <th>SMCD</th>
      <th>Difficulty</th>
      <th>Season</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= image_tag recipe.image.url(:small) %></td>
        <td><%= recipe.name %></td>
        <td><%= recipe.city %></td>
        <td><%= recipe.description %></td>
        <td><%= recipe.ingredients %></td>
        <td><%= recipe.recipe %></td>
        <td><%= recipe.prepare %></td>
        <td><%= recipe.cook %></td>
        <td><%= recipe.smcd %></td>
        <td><%= recipe.difficulty %></td>
        <td><%= recipe.season %></td>
        <td><%= recipe.status %></td>
        <td><%= link_to 'Show', recipe %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
