<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trad'Food | Manger et cuisiner traditionnel à Bordeaux</title>
    <meta name="description" content="Découvrez ou redécouvrez avec Trad'Food les meilleurs plats traditionnels de Bordeaux. Alliez l'utile à l'agréable avec nos recettes et notre sélection de vins...">

    <meta name="author" content="Bastien ROBERT">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"/>

    <!-- Socials -->
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@tradfood">
    <meta name="twitter:title" content="Trad'Food">
    <meta name="twitter:description" content="Découvrez avec Trad'Food les meilleurs plats traditionnels de Bordeaux.">
    <meta name="twitter:image" content="https://tradfood.fr/assets/card.png">
    <meta name="twitter:image:alt" content="Trad'Food, les meilleurs plats traditionnels de Bordeaux">
    <!-- Facebook -->
    <meta property="og:title" content="Trad'Food">
    <meta property="og:type" content="restaurant">
    <meta property="og:url" content="https://tradfood.fr/">
    <meta property="og:image" content="https://tradfood.fr/assets/card.png">
    <meta property="og:description" content="Découvrez avec Trad'Food les meilleurs plats traditionnels de Bordeaux">
    <meta property="og:email" content="contact@tradfood.fr">
    <!-- End of Socials -->

    <!-- Apple touch -->
    <link rel="apple-touch-icon-precomposed" href="assets/apps/Icon-App-76x76@3x.png" />
    <link rel="apple-touch-icon" href="assets/apps/Icon-App-76x76@3x.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/apps/Icon-App-76x76@1x.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="assets/apps/Icon-App-76x76@2x.png" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <!-- End of Apple touch -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_page?(root_path) || @home == true %>
      <header id="home">
    <% else %>
      <header>
    <% end %>
       <div class="row">
        <div class="logo"><a href="/"><%= image_tag image_path('logo-orange.svg'), :class => "logo__img column-center" %></a></div>
        <ul class="menu">
          <%= link_to root_path do %><li>Accueil</li><% end %>
          <%= link_to city_path(1) do %><% unless (current_page?('/') || current_page?('/about') || @home == true) %><li class="active"><% else %><li><% end %>Villes</li><% end %>
          <a href="/about"><% if current_page?('/about') %><li class="active"><% else %><li><% end %>A propos</li></a>
        </ul>
      </div>
    </header>
    <%= yield %>
    <footer>
      <div class="left">&copy;Trad'Food <%= Time.current.year %></div>
      <div class="right">
          <a href="#">Conditions générales et confidentialité</a>
          <a href="#" class="social-icons"><%= image_tag image_path('icons/facebook.svg') %></a>
          <a href="#" class="social-icons"><%= image_tag image_path('icons/twitter.svg') %></a>
          <a href="#" class="social-icons"><%= image_tag image_path('icons/instagram.svg') %></a>
          <a href="#" class="social-icons"><%= image_tag image_path('icons/pinterest.svg') %></a>
      </div>
    </footer>
  </body>
</html>
