<!DOCTYPE html>
<html>
  <head>
    <title>TradFood</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_page?(root_path) %>
      <header id="home">
    <% else %>
      <header>
    <% end %>
       <div class="row">
        <div class="logo"><a href="/"><%= image_tag image_path('logo-orange.svg'), :class => "logo__img column-center" %></a></div>
        <ul class="menu">
          <%= link_to root_path do %><li>Accueil</li><% end %>
          <%= link_to cities_path do %><% unless (current_page?('/') || current_page?('/about')) %><li class="active"><% else %><li><% end %>Villes</li><% end %>
          <a href="/about"><% if current_page?('/about') %><li class="active"><% else %><li><% end %>A propos</li></a>
        </ul>
      </div>
    </header>
    <%= yield %>
    <footer>
      <div class="left">&copy;Trad'Food 2016</div>
      <div class="right">
          <a href="#">Conditions générales et confidentialité</a>
          <a href="#" class="social-icons"><%= image_tag image_path('icons/facebook.svg') %></a>
          <a href="#" class="social-icons"><%= image_tag image_path('icons/twitter.svg') %></a>
          <a href="#" class="social-icons"><%= image_tag image_path('icons/instagram.svg') %></a>
          <a href="#" class="social-icons"><%= image_tag image_path('icons/pinterest.svg') %></a>
      </div>
    </footer>
  </body>
</html>
